body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flashcard {
    display: block;
    margin: 20vh auto;
    width: 50vw;
    max-width: 800px;
    box-shadow: -1px 2px 5px rgba(0,0,0,0.2) !important;
    cursor: pointer;
}

.word {
    text-align: center;
    padding: 30px;
    transform: opacity 0.5s;
}

.title {
    opacity:0;
}

.buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.button {
    text-align: center;
    width: calc(100%/3);
    height: 50px;
}

#add-btn {
    margin-top: 15px;
}

#modal {
    border-color:#1976d2;
    border-width: 4px;
    border-radius: 10px;
}